.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fbf7e3;
    height: 200px;
    border-radius: 100px;
    color: #5c1602;
}
img{
    height: 50px;
}
.nav-bar div{
    background-color: #f3df85;
    height: 35px;
    padding: 10px;
    border-radius: 35px;
    text-align: center;
    line-height: 35px;
    flex-basis:12%;
    transition: flex-basis 0.5s;
}
.nav-bar div:nth-of-type(3){
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
.nav-bar div:hover{ 
    flex-basis: 20%;
    height: 70px;
    border-radius: 70px;
    line-height: 70px;
    font-weight: 700;
}