#container{
    display: flex;
    flex-direction:row-reverse ;
    justify-content: space-evenly;
    background-color: #fbf7e3;
    
    color: #6c3316;
    padding: 25px;
    border-radius: 25px;
    flex-wrap: wrap;
}
#container img{
    flex-basis: 600px;
    height: 100%;
    object-fit:cover;
    overflow:hidden
}
#container div{
    flex-basis: 600px;
}